@model IEnumerable<AppleStore.Models.Mac>

@{
    ViewData["Title"] = "Mac";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">Mac</h2>

<h4>
    <a href="/Home/Index">< Home Page</a>
</h4>

<hr />
<div id="mainDiv" style="display: flex; justify-content: space-evenly;">

    <a href="/Mac/Models/MacBook Pro" style="text-align:center;">
        <img src="~/images/macbook-pro.webp" alt="MacBook-Pro-img" />
        <br>
        <br>
        <h4>MacBook Pro</h4>
    </a>

    <a href="/Mac/Models/MacBook Air" style="text-align:center;">
        <img src="~/images/macbook-air.webp" alt="MacBook-Air-img" />
        <br>
        <br>
        <h4>MacBook Air</h4>
    </a>

    <a href="/Mac/Models/iMac" style="text-align:center;">
        <img src="~/images/imac.webp" alt="iMac-img" />
        <br>
        <br>
        <h4>iMac</h4>
    </a>
</div>