@model IEnumerable<AppleStore.Models.Mac>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tbody>
        <tr>
            <td>
                <a href="/Mac/Models/MacBook Pro">
                    <img src="#" alt="MacBook-Pro-img" />
                </a>
            </td>
            <td>
                Apple MacBook Pro
            </td>
        </tr>
        <tr>
            <td>
                <a href="/Mac/Models/MacBook Air">
                    <img src="#" alt="MacBook-Air-img" />
                </a>
            </td>
            <td>
                Apple MacBook Air
            </td>
        </tr>
        <tr>
            <td>
                <a href="/Mac/Models/iMac">
                    <img src="#" alt="iMac-img" />
                </a>
            </td>
            <td>
                Apple iMac
            </td>
        </tr>
    </tbody>
</table>
