@model IEnumerable<AppleStore.Models.Mac>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">Mac</h2>

<a href="/Home/Index"><br>Home Page</a>

<hr />
<div id="mainDiv" style="display: flex; justify-content: space-between;">

    <a href="/Mac/Models/MacBook Pro" style="text-align:center;">
        <img src="#" alt="MacBook-Pro-img" />
        <br>
        <br>
        MacBook Pro
    </a>

    <a href="/Mac/Models/MacBook Air" style="text-align:center;">
        <img src="#" alt="MacBook-Air-img" />
        <br>
        <br>
        MacBook Air
    </a>

    <a href="/Mac/Models/iMac" style="text-align:center;">
        <img src="#" alt="iMac-img" />
        <br>
        <br>
        iMac
    </a>
</div>