@model IEnumerable<AppleStore.Models.IPad>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">iPad</h2>

<a href="/Home/Index"><br>Home Page</a>

<hr />
<div id="mainDiv" style="display: flex; justify-content: space-between;">

    <a href="/IPad/Models/iPad Pro 12.9" style="text-align:center;">
        <img src="#" alt="iPad Pro 12.9-img" />
        <br>
        <br>
        iPad Pro 12.9
    </a>

    <a href="/IPad/Models/iPad Pro 11" style="text-align:center;">
        <img src="#" alt="iPad Pro 11-img" />
        <br>
        <br>
        iPad Pro 11
    </a>

    <a href="/IPad/Models/iPad 10.2" style="text-align:center;">
        <img src="#" alt="iPad 10.2-img" />
        <br>
        <br>
        iPad 10.2
    </a>

    <a href="/IPad/Models/iPad Air" style="text-align:center;">
        <img src="#" alt="iPad Air-img" />
        <br>
        <br>
        iPad Air
    </a>

    <a href="/IPad/Models/iPad Mini 5" style="text-align:center;">
        <img src="#" alt="iPad Mini 5-img" />
        <br>
        <br>
        iPad Mini 5
    </a>
</div>