@model IEnumerable<AppleStore.Models.IPad>

@{
    ViewData["Title"] = "iPad";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">iPad</h2>

<h4>
    <a href="/Home/Index">< Home Page</a>
</h4>
<hr />
<div id="mainDiv" style="display: flex; justify-content: space-between;">

    <a href="/IPad/Models/iPad Pro 12.9" style="text-align:center;">
        <img src="~/images/ipad-pro-12.9.webp" alt="iPad Pro 12.9-img" />
        <br>
        <br>
        <h4>iPad Pro 12.9</h4>
    </a>

    <a href="/IPad/Models/iPad Pro 11" style="text-align:center;">
        <img src="~/images/ipad-pro-11.webp" alt="iPad Pro 11-img" />
        <br>
        <br>
        <h4> iPad Pro 11</h4>
    </a>

    <a href="/IPad/Models/iPad 10.2" style="text-align:center;">
        <img src="~/images/ipad-10.2.webp" alt="iPad 10.2-img" />
        <br>
        <br>
        <h4>iPad 10.2</h4>
    </a>

    <a href="/IPad/Models/iPad Air" style="text-align:center;">
        <img src="~/images/ipad-air.webp" alt="iPad Air-img" />
        <br>
        <br>
        <h4>iPad Air</h4>
    </a>

</div>
<br />
<br />
<div id="mainDiv" style="display: flex; justify-content: space-between;">

    <a href="/IPad/Models/iPad Mini 5" style="text-align:center;">
        <img class="ipad-index-img" src="~/images/ipad-mini-5.webp" alt="iPad Mini 5-img" />
        <br>
        <br>
        <h4>iPad Mini 5</h4>
    </a>
</div>