@model IEnumerable<AppleStore.Models.IPhone>

@{
    ViewData["Title"] = "iPhone";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">iPhone</h2>

<h4>
    <a href="/Home/Index"><< Home Page</a>
</h4>
<hr />
<div id="mainDiv" style="display: flex; justify-content: space-between;">

    <a href="#" style="text-align:center;">
        <img class="" src="~/images/iphone-SE-im.webp" alt="iPhone-SE-img" />
        <br>
        <br>
        <h4>iPhone SE</h4>
    </a>

    <a href="/IPhone/Models/Apple iPhone 11 Pro Max" style="text-align:center;">
        <img class="" src="~/images/iphone-11-pro-max.webp" alt="iPhone11-pro-max-img" />
        <br>
        <br>
        <h4>iPhone 11 Pro Max</h4>
    </a>

    <a href="/IPhone/Models/Apple iPhone 11 Pro" style="text-align: center;
">
        <img class="" src="~/images/iphone-11-pro.webp" alt="iPhone11-pro-img" />
        <br>
        <br>
        <h4>iPhone 11 Pro</h4>
    </a>

    <a href="/IPhone/Models/Apple iPhone 11" style="text-align:center;">
        <img class="" src="~/images/iphone-11.webp" alt="iPhone11-img" />
        <br>
        <br>
        <h4>iPhone 11</h4>
</a>
</div>
<br />
<br />
<div id="mainDiv" style="display: flex; justify-content: space-between;">
    <a href="#" style="text-align:center;">
        <img class="" src="~/images/iphone-xs-max.webp" alt="iPhone-xs-max-img" />
        <br>
        <br>
        <h4>iPhone XS Max</h4>
    </a>

    <a href="#" style="text-align:center;">
        <img class="" src="~/images/iphone-xs.webp" alt="iPhone-xs-img" />
        <br>
        <br>
        <h4>iPhone XS</h4>
    </a>

    <a href="#" style="text-align: center;
">
        <img class="" src="~/images/iphone-xr.webp" alt="iPhone-xr-img" />
        <br>
        <br>
        <h4>iPhone XR</h4>
    </a>

    <a href="#" style="text-align:center;">
        <img class="" src="~/images/iphone-x.webp" alt="iPhone-x-img" />
        <br>
        <br>
        <h4>iPhone X</h4>
    </a>
</div>