@model IEnumerable<AppleStore.Models.IPhone>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">iPhone</h2>

<a href="/Home/Index"><br>Home Page</a>
<hr />
<div id="mainDiv" style="display: flex; justify-content: space-between;">

    <a href="/IPhone/Models/Apple iPhone 11 Pro Max" style="text-align:center;">
        <img src="#" alt="iPhone11-pro-max-img" />
        <br>
        <br>
        iPhone 11 Pro Max
    </a>

    <a href="/IPhone/Models/Apple iPhone 11 Pro" style="text-align:center;">
        <img src="#" alt="iPhone11-pro-img" />
        <br>
        <br>
        iPhone 11 Pro
    </a>

    <a href="/IPhone/Models/Apple iPhone 11" style="text-align:center;">
        <img src="#" alt="iPhone11-img" />
        <br>
        <br>
        iPhone 11
    </a>
</div>