@model IEnumerable<AppleStore.Models.IPhone>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<table class="table">
    <tbody>
        <tr>
            <td>
                <a href="/IPhone/Models/iPhone 11 Pro Max">
                    <img src="#" alt="iPhone11-pro-max-img" />
                </a>
            </td>
            <td>
                iPhone 11 Pro Max
            </td>
        </tr>
        <tr>
            <td>
                <a href="/IPhone/Models/iPhone 11 Pro">
                    <img src="#" alt="iPhone11-pro-img" />
                </a>
            </td>
            <td>
                iPhone 11 Pro
            </td>
        </tr>
        <tr>
            <td>
                <a href="/IPhone/Models/iPhone 11">
                    <img src="#" alt="iPhone11-img" />
                </a>
            </td>
            <td>
                iPhone 11
            </td>
        </tr>
    </tbody>
</table>
