@model IEnumerable<AppleStore.Models.AirPods>

@{
    ViewData["Title"] = "AirPods";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@*<h2 style="text-align:center;">AirPods</h2>*@

    <h4>
        <br>
        <a href="/Home/Index">< Home Page</a>
    </h4>
    <table>
        <tr>
            <td>
                @foreach (var item in Model)
                {
                    <br>
                    <nav>
                        <a href="/AirPods/Details/@item.Id" style="text-align: center;">
                            <img src="~/images/@item.AirPodsModel .webp" alt="@item.AirPodsModel-img" />
                            <br>
                            <br>
                            <h4 style="padding-right: 78%;">
                                <span>@item.AirPodsModel</span>
                                <br>
                                <br>
                                <span style="font-size:25px">$ @item.Price</span>
                                <br>
                                @if (item.AmountOfProduct <= 0)
                                {
                                    <span style="font-size:17px; color:#fe5d00">Not Available</span>
                                    <br>
                                }
                                else
                                {
                                    <span style="font-size:17px; color:#40b157">Available  Now</span>
                                    <br>
                                }
                                <br>
                                <br>
                            </h4>
                        </a>
                        <br>
                    </nav>
                }
            </td>
        </tr>
    </table>
