@model IEnumerable<AppleStore.Models.AppleWatch>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>


<table class="table">
    <tbody>
        <tr>
            <td>
                <a href="/AppleWatch/Models/Apple Watch Series 5">
                    <img src="#" alt="Apple-Watch-Series-5-img" />
                </a>
            </td>
            <td>
                Apple Watch Series 5
            </td>
        </tr>
        <tr>
            <td>
                <a href="/AppleWatch/Models/Apple Watch Series 3">
                    <img src="#" alt="Apple-Watch-Series-3-img" />
                </a>
            </td>
            <td>
                Apple Watch Series 3
            </td>
        </tr>
    </tbody>
</table>
