@model IEnumerable<AppleStore.Models.AppleWatch>

@{
    ViewData["Title"] = "Apple Watch";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">Apple Watch</h2>

<h4>
    <a href="/Home/Index">< Home Page</a>
</h4>

<hr />
<div id="mainDiv" style="display: flex; justify-content:space-evenly;">

    <a href="/AppleWatch/Models/Apple Watch Series 5" style="text-align:center;">
        <img src="~/images/watch-series-5.webp" alt="Apple-Watch-Series-5-img" />
        <br>
        <br>
        <h4>Apple Watch Series 5</h4>
    </a>

    <a href="/AppleWatch/Models/Apple Watch Series 3" style="text-align:center;">
        <img src="~/images/watch-series-3.webp" alt="Apple-Watch-Series-3-img" />
        <br>
        <br>
        <h4>Apple Watch Series 3</h4>
    </a>
</div>