@model IEnumerable<AppleStore.Models.AppleWatch>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;">Apple Watch</h2>

<a href="/Home/Index"><br>Home Page</a>

<hr />
<div id="mainDiv" style="display: flex; justify-content: space-between;">

    <a href="/AppleWatch/Models/Apple Watch Series 5" style="text-align:center;">
        <img src="#" alt="Apple-Watch-Series-5-img" />
        Apple Watch Series 5
    </a>

    <a href="/AppleWatch/Models/Apple Watch Series 3" style="text-align:center;">
        <img src="#" alt="Apple-Watch-Series-3-img" />
        Apple Watch Series 3
    </a>
</div>