
@{
    ViewData["Title"] = "AfterPurchase";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1 style="text-align:center; margin-top: 200px; font-family:'Permanent Marker', cursive;">Thanks for choosing us!!!</h1>

