@model AppleStore.Models.Purchase

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2 style="text-align:center;"><br><b>Please input your data</b></h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FirstName" class="control-label">First name</label>
                <input asp-for="FirstName" class="form-control" />
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="LastName" class="control-label">Last name</label>
                <input asp-for="LastName" class="form-control" />
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber" class="control-label">Phone number</label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Email" class="control-label">E-mail</label>
                <input asp-for="Email" class="form-control" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PromoCode" class="control-label">Promo code</label>
                <input asp-for="PromoCode" class="form-control" />
                <span asp-validation-for="PromoCode" class="text-danger"></span>
            </div>
            <div style="display: flex; justify-content:start; margin-top:30px;">
                <div class="form-group">
                    <input type="submit" value="NEXT" class="btn btn-default" style="color:#18c7c7; background-color: #222222;
                    height:50px; width: 150px; font-size: 22px; margin-left: 110px;"/>
                </div>

            </div>
        </form>
        <div>
            <a asp-controller="Product" asp-action="Index"
               style="margin-left: 110px; height:50px; width: 150px;">
                <button class="btn btn-default" style=" height:50px; width:150px; color:red; background-color: #222222;
                            font-size: 22px">
                    BACK
                </button>
            </a>
        </div>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
