@{
    ViewData["Title"] = "Home Page";
}

<head>
    <link type="text/css" href="~/css/site.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap" rel="stylesheet">
</head>

@*<h1 style="font-family: 'Permanent Marker', cursive; color:#00b1d2; font-size: 50px; text-align: center;">
        RS Apple Store
    </h1>*@

<p style="text-align:center; color: #3b4848; font-size: 30px">
    <br>
    <span style="font-size: 35px;">
        <b>Welcome</b>
    </span>
    <br> 
    to the store of Apple products!
    <br>
    Here there is a huge amount of devices and we hope that you will find that one which fits you.
</p>

<div>
    <br>
</div>

<div id="mainDiv" style="display: flex; justify-content: space-between;">

    <a href="/IPhone/Index" style=" text-align: center; color: #00b1d2">
        <img src="~/images/iphone-main-page-im.jpg" alt="iPhone-img" class="main-img" />
        <br>
        <br>
        <h3>iPhone</h3>
    </a>
    <a href="/IPad/Index" style="text-align:center; color: #00b1d2">
        <img src="~/images/ipad-main-page-img.jpg" alt="iPad-img" class="main-img" />
        <br>
        <br>
        <h3>iPad</h3>
    </a>

    <a href="/Mac/Index" style="text-align:center; color: #00b1d2">
        <img src="~/images/mac-main-page-im.jpg" alt="Mac-img" class="main-img" />
        <br>
        <br>
        <h3>Mac</h3>
    </a>
</div>
<br />
<div id="mainDiv" style="display: flex; justify-content: space-between;">
    <a href="/AppleWatch/Index" style="text-align:center; color: #00b1d2">
        <img src="~/images/applewatch-main-page-img.jpg" alt="AppleWatch-img" class="main-img" />
        <br>
        <br>
        <h3>Apple Watch</h3>
    </a>

    <a href="/AirPods/Models" style="text-align:center; color: #00b1d2">
        <img src="~/images/airpods-main-page-img.jpg" alt="AirPods-img" class="main-img" />
        <br>
        <br>
        <h3>AirPods</h3>
    </a>

    <a href="#" style="text-align:center; color:#00b1d2">
        <img src="~/images/accessories-main-page-im.jpg" alt="accessories-img" class="main-img" />
        <br>
        <br>
        <h3>Accessories</h3>
    </a>
</div>
<hr />
<div id="infoDiv" style="color: #3b4848; font-size: 20px;">
    <br>
    Our shops in Lviv:
    <ul>
        <li>Chervona Kalina av. 113</li>
        <li>Soborna square</li>
        <li>Chornovola av. 57</li>
    </ul>
</div>